.item {
    cursor: pointer;
}

.item:hover div {
    color: #ff9800;
}

.full-screen .background {
    position: relative;
    min-height: 75vh;
}

.full-screen .background .container {
    margin-top: 5%;
}

.input-group {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.money[readonly] {
    background: transparent;
    color: black;
}

/* INVOICE */
#invoice-POS {
    padding: 1em;
    margin: 0 auto;
    width: 14em;
    background: #FFF;
}

#invoice-POS h1 {
    font-size: 1.5em;
    color: #222;
}

#invoice-POS h2 {
    font-size: 1em;
    text-transform: uppercase;
}

#invoice-POS h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

#invoice-POS p {
    font-size: 0.7em;
    color: #666;
    line-height: 1.2em;
}

#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
    /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
}

#invoice-POS #top {
    min-height: 20px;
    text-align: center;
}

#invoice-POS h4,
#invoice-POS .legal {
    text-align: center;
}

#invoice-POS #mid {
    min-height: 50px;
}

#invoice-POS #bot {
    min-height: 50px;
}

#invoice-POS .info {
    display: block;
    margin-left: 0;
}

#invoice-POS .title {
    float: right;
}

#invoice-POS .title p {
    text-align: right;
}

#invoice-POS table {
    width: 100%;
    border-collapse: collapse;
}

#invoice-POS .tabletitle {
    font-size: 0.8em;
    background: #EEE;
}

#invoice-POS .service {
    border-bottom: 1px solid #EEE;
}

#invoice-POS .item {
    width: 24mm;
}

#invoice-POS .itemtext {
    font-size: 0.8em;
}

#invoice-POS #legalcopy {
    margin-top: 5mm;
}

#invoice-POS .right {
    text-align: right;
}


@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}