{% extends "base.html" %}
{% load static %}

{% block wrapper %}
<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h3>Thể loại</h3>
                        <ul class="nav nav-tabs">
                            <li class="nav-item {% if not category %} active {% endif %}">
                                <a href="{% url 'store:product-list' %}">Tất cả</a>
                            </li>
                            {% for c in categories %}
                            <li class="nav-item 
                            {% if c.slug == category.slug %}
                            active 
                            {% endif %}
                            ">
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{% if category %}{{ category.name }}{% else %}Sản phẩm{% endif %}</h4>
                            </div>
                            {% for product in products %}
                            <div class="col-md-4 col-sm-4">
                                <div class="card-image card-product item" data-id="{{ product.id }}">
                                    <img src="{{ product.image.url }}" alt="Rounded Image"
                                        class="img-rounded img-responsive">
                                    <div class="details">
                                        <div class="description">
                                            <div class="name">{{ product.name }}</div>
                                            <div class="meta">{{ product.category.name }}</div>
                                        </div>
                                        <div class="actions">
                                            <h5>{{ product.price_display }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "store/modal.html" %}
{% endblock wrapper %}